<header  id="aa-header">
  <!-- start header top  -->
  <div  class="aa-header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-top-area">
            <!-- start header top left -->
            <div class="aa-header-top-left">
              <!-- start cellphone -->
              <div class="cellphone hidden-xs">
                <p><span class="fa fa-phone"></span>959226535</p>
              </div>
              <!-- / cellphone -->
            </div>
            <!-- / header top left -->
            <div class="aa-header-top-right">
              <ul class="aa-head-top-nav-right">
                <li><a href=""  [routerLink]="['/micuenta']">Mi Cuenta</a></li>
                <li class="hidden-xs"><a [routerLink]="['/listadedeseos']"  >Lista de Deseos</a></li>
                <li class="hidden-xs"><a [routerLink]="['/micarrito']">Mi Carrito</a></li>
                <li class="hidden-xs"><a [routerLink]="['/r']">Revisa</a></li>
                <li><a [routerLink]="['/login']" >Iniciar Sesion</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header top  -->

  <!-- start header bottom  -->
  <div class="aa-header-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-header-bottom-area">
            <!-- logo  -->
            <div class="aa-logo">
              <!-- Text based logo -->
              <a style="font-size: 3px ; left: 3px" href="index.html">
                <img src="../../assets/img/logo.png" width="200" height="90" alt="img">
              </a>
              <!-- img based logo -->
              <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
            </div>
            <!-- / logo  -->
             <!-- cart box -->
           
            <!-- / cart box -->
            <!-- search box -->
            <div class="aa-search-box">
              <form action="">
                <input type="text" name="" id="" placeholder="Buscar producto ">
                <button type="submit"><span class="fa fa-search"></span></button>
              </form>
            </div>
            <!-- / search box -->             
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- / header bottom  -->
</header>
<section id="menu">
  <div class="container">
    <div class="menu-area">
      <!-- Navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="navbar-collapse collapse">
          <!-- Left nav -->
          <ul class="nav navbar-nav">
            <li><a href="index.html">inicio</a></li>
            <li><a href="#">Varon<span class="caret"></span></a>
              <ul class="dropdown-menu">                                              
                <li><a href="#">Camisa</a></li>
                <li><a href="#">Pantalones</a></li>
              </ul>
            </li>
            <li><a href="#">Mujer <span class="caret"></span></a>
              <ul class="dropdown-menu">                                                        
                <li><a href="#">Polos</a></li>
                <li><a href="#">Pantalones</a></li>
              </ul>
            </li>
            <li><a href="#">Niños<span class="caret"></span></a>
              <ul class="dropdown-menu">                                                           
                <li><a href="#">Camisa</a></li>
                <li><a href="#">Pantalones</a></li>
              </ul>
            </li>          
            <li><a href="blog-archive.html">Blog <span class="caret"></span></a>
              <ul class="dropdown-menu">   
                <li><a  [routerLink]="['/Blog1']"  >blog1</a></li>
                <li><a href="blog-single.html"  [routerLink]="['/Blog1']"  >blog2</a></li>                
              </ul>
            </li>
            <li><a [routerLink]="['/contactos']">Contactos</a></li>
            <li><a href="#">Paginas <span class="caret"></span></a>
              <ul class="dropdown-menu">                
                <li><a  [routerLink]="['/PaginaTienda']" >Pagina de la tienda</a></li>
                <li><a href="product-detail.html">Tienda individual</a></li>                          
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>       
  </div>
</section>