<footer id="aa-footer">
    <div class=".p">
      <!-- footer bottom -->
    <div class="aa-footer-top">
     <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-top-area">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <h3>Menú principal</h3>
                  <ul class="aa-footer-nav">
                    <li><a href="#">casa</a></li>
                    <li><a href="#">Nustros servicios</a></li>
                    <li><a href="#">Nuestros productos</a></li>
                    <li><a href="#">sobre nosotros</a></li>
                    <li><a href="#">Contáctenos</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Base de conocimientos</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Entrega</a></li>
                      <li><a href="#">Devoluciones</a></li>
                      <li><a href="#">Servicios</a></li>
                      <li><a href="#">Descuento</a></li>
                      <li><a href="#">oferta especial</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Enlaces útiles</h3>
                    <ul class="aa-footer-nav">
                      <li><a href="#">Mapa de sitio</a></li>
                      <li><a href="#">Buscar</a></li>
                      <li><a href="#">busqueda avanzada</a></li>
                      <li><a href="#">Proveedores</a></li>
                      <li><a href="#">Preguntas mas fecuentes</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="aa-footer-widget">
                  <div class="aa-footer-widget">
                    <h3>Contátenos</h3>
                    <address>
                      <p> jiron pirua N° 221   huancayo</p>
                      <p><span class="fa fa-phone"></span>959226535</p>
                      <p><span class="fa fa-envelope"></span>romajeans@gmail.com</p>
                    </address>
                    <div class="aa-footer-social">
                      <a href="#"><span class="fa fa-facebook"></span></a>
                      <a href="#"><span class="fa fa-twitter"></span></a>
                      <a href="#"><span class="fa fa-google-plus"></span></a>
                      <a href="#"><span class="fa fa-youtube"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    <!-- footer-bottom -->
</div>

    <div class="aa-footer-bottom">
      <div class="container">
        <div class="row">
        <div class="col-md-12">
          <div class="aa-footer-bottom-area">
            <p>Designed by<a href="http://www.markups.io/">MarkUps.io</a></p>
            <div class="aa-footer-payment">
              <span class="fa fa-cc-mastercard"></span>
              <span class="fa fa-cc-visa"></span>
              <span class="fa fa-paypal"></span>
              <span class="fa fa-cc-discover"></span>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>