<section id="aa-myaccount">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
       <div class="aa-myaccount-area">         
           <div class="row">
             <div class="col-md-6">
               <div class="aa-myaccount-login">
               <h4>Iniciar Sesion</h4>
                <form action="" class="aa-login-form">
                 <label for="">Direccion De correo<span>*</span></label>
                  <input type="text" placeholder="Username or email">
                  <label for="">contraseña<span>*</span></label>
                   <input type="password" placeholder="Password">
                   <button type="submit" class="aa-browse-btn">Iniciar Sesion</button>
                   <label class="rememberme" for="rememberme"><input type="checkbox" id="rememberme"> Recuerdame </label>
                   <p class="aa-lost-password"><a href="#">Recuperar contraseña?</a></p>
                 </form>
               </div>
             </div>
           </div>          
        </div>
      </div>
    </div>
  </div>
</section>