
<section id="aa-catg-head-banner">
  <img src="../../assets/img/fashion/fashion-header-bg-8.jpg" alt="fashion img">
  <div class="aa-catg-head-banner-area">
    <div class="container">
     <div class="aa-catg-head-banner-content">
       <h2>Página de carro</h2>
       <ol class="breadcrumb">
         <li><a href="index.html">Casa</a></li>                   
         <li class="active">Carro</li>
       </ol>
     </div>
    </div>
  </div>
 </section>

<section id="cart-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cart-view-area">
          <div class="cart-view-table">
            <form action="">
              <div class="table-responsive">
                 <table class="table">
                   <thead>
                     <tr>
                       <th></th>
                       <th></th>
                       <th>producto</th>
                       <th>Precio</th>
                       <th>Cantidad</th>
                       <th>Total</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                     
                       <td><a href="#"><img src="img/man/polo-shirt-1.png" alt="img"></a></td>
                       <td><a class="aa-cart-title" href="#">Polos</a></td>
                       <td>S/250</td>
                       <td><input class="aa-cart-quantity" type="number" value="1"></td>
                       <td>S/250</td>
                     </tr>
                     <tr>
                      
                       <td><a href="#"><img src="img/man/polo-shirt-2.png" alt="img"></a></td>
                       <td><a class="aa-cart-title" href="#">Polos</a></td>
                       <td>S/150</td>
                       <td><input class="aa-cart-quantity" type="number" value="1"></td>
                       <td>S/150</td>
                     </tr>
                     <tr>
                       
                       <td><a href="#"><img src="img/man/polo-shirt-3.png" alt="img"></a></td>
                       <td><a class="aa-cart-title" href="#">Polos </a></td>
                       <td>S/50</td>
                       <td><input class="aa-cart-quantity" type="number" value="1"></td>
                       <td>S/50</td>
                     </tr>
                     <tr>
                       <td colspan="6" class="aa-cart-view-bottom">
                         <div class="aa-cart-coupon">
                           <input class="aa-coupon-code" type="text" placeholder="Coupon">
                           <input class="aa-cart-view-btn" type="submit" value="Apply Coupon">
                         </div>
                         <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                       </td>
                     </tr>
                     </tbody>
                 </table>
               </div>
            </form>
            <!-- Cart Total view -->
            <div class="cart-view-total">
              <h4>Total</h4>
              <table class="aa-totals-table">
                <tbody>
                  <tr>
                    <th>Subtotal</th>
                    <td>S/450</td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td>S/450</td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="aa-cart-view-btn">Pasar por la caja</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Subscribe section -->
<section id="aa-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-subscribe-area">
          <h3>Subscribe our newsletter </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
          <form action="" class="aa-subscribe-form">
            <input type="email" name="" id="" placeholder="Enter your Email">
            <input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Subscribe section -->
